@font-face{
    font-family: 'Mregular';
    src: url(./fonts/Montserrat-Regular.ttf);
}
@font-face{
    font-family: 'Mbold';
    src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face{
    font-family: 'Msemibold';
    src: url(./fonts/Montserrat-SemiBold.ttf);
}
@font-face{
    font-family: 'Mlight';
    src: url(./fonts/Montserrat-Light.ttf);
}
@font-face{
    font-family: 'Mmedium';
    src: url(./fonts/Montserrat-Medium.ttf);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    font-family: 'Mregular';
}
body{
    background-color: rgba(140, 189, 63, 0.7);
}
.wrapper{
    width: 85%;
    background-color: #fff;
    margin: 55px auto;
    position: relative;
}
.navbar a{
    /* text-decoration: none; */
    color: black;
    margin: 0 15px;
}
.navbar a:hover{
    text-decoration: none;
}
.catalog a:hover{
    text-decoration: none;
}
.catalog a{
    /* text-decoration: none; */
    color: black;
}
.text-item p{
    font-family: 'Mbold';
    font-size: 24px;
    max-width: 50%;
}
.text-item span{
    font-family: 'Mregular';
    font-size: 18px;
    max-width: 50%;
}
.text-item{
    width: 50%;
    background-color: #F0EEEB;
    height: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image-item{
    width: 50%;
}
.image-item img{
    width: 100%;
    height: 460px;
}

.wrapper-block{
    width: 400px;
    box-sizing: border-box;
    padding: 15px;
    background-color: white;
    margin: 15px;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
}
#block{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.wrapper-block img{
    width: 60%;
    height: 200px;
    align-self: center;
}
.text-wrapper{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper-block p{
    font-size: 15px;
    font-family: "MBold";
    max-width: 85%;
}
.wrapper-block p span{
    font-family: 'Mregular';
}
.price{
    color: #8CBD3F;
    font-family: 'MMedium' !important;
}
.deleteItemFromCart{
    font-family: 'MMedium';
    font-size: 15px;
    align-self: center;
    margin-top: 20px;
    background: none;
    border: 1px solid rgba(214, 32, 32, 0.705);
    box-sizing: border-box;
    padding: 5px 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s linear 0.1ms;
}
.deleteItemFromCart:hover{
    background: rgba(214, 32, 32, 0.705);
    transition: all 0.5s linear 0.1ms;
    color: white;
}