@font-face{
    font-family: 'Mregular';
    src: url(./fonts/Montserrat-Regular.ttf);
}
@font-face{
    font-family: 'Mbold';
    src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face{
    font-family: 'Msemibold';
    src: url(./fonts/Montserrat-SemiBold.ttf);
}
@font-face{
    font-family: 'Mlight';
    src: url(./fonts/Montserrat-Light.ttf);
}
@font-face{
    font-family: 'Mmedium';
    src: url(./fonts/Montserrat-Medium.ttf);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    font-family: 'Mregular';
}
body{
    background-image: url(img/background.png);
    background-size: cover;
    background-position-y: -1150px;
}
.wrapper{
    width: 85%;
    background-color: #fff;
    margin: 55px auto;
    position: relative;
}
.navbar a{
    /* text-decoration: none; */
    color: black;
    margin: 0 15px;
}
.navbar a:hover{
    text-decoration: none;
}
.catalog a:hover{
    text-decoration: none;
}
.catalog a{
    /* text-decoration: none; */
    color: black;
}
.text-item p{
    font-family: 'Mbold';
    font-size: 24px;
    max-width: 50%;
}
.text-item span{
    font-family: 'Mregular';
    font-size: 18px;
    max-width: 50%;
}
.text-item{
    width: 50%;
    background-color: #F0EEEB;
    height: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image-item{
    width: 50%;
}
.image-item img{
    width: 100%;
    height: 460px;
}
.title-section{
display: flex;
width: 100%;
}

.products__item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 20px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    width: fit-content;
    margin: 10px;
    border-radius: 5px;
    transition: all 0.5s linear 0.1ms;
}
.products-items_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.delItem{
    font-size: 15px !important;
    color: black;
    font-family: 'Mregular' !important;
}
.categorySpan{
    font-family: 'Mregular';
    font-size: 13px;
}
.addCart{
    font-size: 15px !important;
    color: #8CBD3F;
    font-family: 'Mregular' !important;
}
.products__item p{
    font-size: 20px;
    font-family: 'Msemibold';
    /* cursor: pointer; */
}
.products__item img{
    width: 200px;
    height: 170px;
    padding: 15px 0;
}
.products{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.favourite{
    padding-top: 150px;
    padding-bottom: 100px;
}
.favourite_items_wrapper{
        display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    padding: 50px 0;
}
.favourite h1{
    text-align: center;
    font-family: 'Mbold';
    font-size: 48px;
}
.green{
    color: #8CBD3F;
}
.favourite__item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    padding: 15px;
    margin: 0 15px;
    border-radius: 5px;
    height: 330px;
    overflow: hidden;
}
.favourite__item:hover{
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    transition: all 0.5s linear 0.1ms;
}
.favourite__item a{
    cursor: pointer;
}

.inline-block{
    background-color: #DBDAC8;
    text-align: center;
    width: 90%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family: 'Mlight';
}
.cta-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    width: 100%;
}
.favourite__item p{
    font-family: 'Mlight';
    font-size: 18px;
    overflow: hidden;
}
.favourite__item img{
    height: 150px;
    width: 170px;
}
.price{
    font-family: 'Mmedium';
    color: #8CBD3F;
}
.cta-cart a{
    font-family: 'Mlight';
    color: black;
}

.why h1{
    text-align: center;
    font-family: 'Mbold';
    font-size: 48px;
}
.why__item{
    display: flex;
    align-items: center;
    justify-content:  center;
    flex-direction: column;
    width: 250px;
    flex-wrap: wrap;
    margin: 0 60px;
}
.why__item p{
    font-family: 'Mbold';
    font-size: 28px;
    color: #8CBD3F;
    text-align: center;
}
.why__item span{
    font-family: 'Mlight';
    font-size: 23px;
    text-align: left;
}
.why_items_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.why__item img{
    width: 80%;
}
.why{
    padding-bottom: 70px;
}
.categories h1{
    text-align: center;
    font-family: 'Mbold';
    font-size: 48px;
}
.categories_item{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 15px 0;
}
.categories_item a{
    font-family: 'Mlight';
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: #8CBD3F;
}
.categories_item a:hover{
    text-decoration: underline;
}
.categories_item img{
    width: 25px;
}
.categories_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.categories_column{
    margin: 0 50px;
}
.categories{
    padding: 50px 0;
}
#createGood{
    border: 1px solid #8CBD3F;
    align-self: center;
    justify-self: center;
    display: flex;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 15px;
    border-radius: 25px;
    text-decoration: none;
    font-family: 'mBold';
    color: #8CBD3F;
    background-color: #fff;
    cursor: pointer;
}
#createGood:hover{
    background-color: #8CBD3F;
    color: white;
    border: 1px solid white;
    transition: all 0.3s linear 0.1ms;
}
.wrapper-button{
    padding: 50px 0;
}

#modal{
    width: 30%;
    height: fit-content;
    background-color: #8CBD3F;
    display: none;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 35px 0;
    margin: 0 auto;
    position: fixed;
    top: 35%;
    left: 35%;
    border-radius: 10px;
    box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.3);
}
#modal input{
    width: 40%;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-family: 'Mmedium';
    box-sizing: border-box;
    padding: 0 15px;
}

#category{
    width: 40%;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-family: 'Mmedium';
    box-sizing: border-box;
    padding: 0 15px;
}
#btnSubmit{
    background-color: #fff;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: 'mBold';
    cursor: pointer;
}
#btnSubmit:hover{
    box-shadow: 0 0 2px 1px inset rgba(0, 0, 0, 0.4);
}
#btnSubmit:focus{
    box-shadow: 0 -1px 2px 2px inset rgba(0, 0, 0, 0.3);
}
#displaynone{
    font-size: 25px;
    font-family: 'mBold';
    position: absolute;
    right: 25px;
    top: 5px;
    color: white;
    cursor: pointer;
}

#LogExit{
    cursor: pointer;
}

.cart-modal{
    height: 270px;
    width: 400px;
    background-color: #8CBD3F;
    display: none;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 35px 15px;
    margin: 0 auto;
    position: fixed;
    top: 38%;
    left: 38%;
    border-radius: 10px;
    box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.3);
    text-align: left;
}
.cart-modal p{
    font-size: 30px;
    color: white;
    font-family: 'mBold';
}
.cart-modal span{
    font-size: 16px;
    color: white;
    font-family: 'Mregular';
}
.cart-modal a{
    font-family: 'Mmedium';
    color: black;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 20px;
}
#count{
    font-family: 'Msemibold';
    margin-top: 30px;
}
.info-modal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
#searchItem{
    cursor: pointer;
}
#btnSearch{
    background-color: #fff;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: 'mBold';
    cursor: pointer;
}
#btnSearch:hover{
    box-shadow: 0 0 2px 1px inset rgba(0, 0, 0, 0.4);
}
#btnSearch:focus{
    box-shadow: 0 -1px 2px 2px inset rgba(0, 0, 0, 0.3);
}

#modalSearch{
    width: 25%;
    height: 260px;
    background-color: #8CBD3F;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px 0;
    margin: 0 auto;
    position: fixed;
    top: 35%;
    left: 35%;
    border-radius: 10px;
    box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.3);
}
#modalSearch h2{
    font-size: 30px;
    color: white;
    margin: 0;
    font-family: 'Msemibold';
}
#modalSearch p{
    font-size: 18px;
    color: white;
}
#modalSearch input{
    width: 50%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-family: 'Mmedium';
    box-sizing: border-box;
    padding: 0 15px;
}

